<!doctype html>
  <head>
    {% block title %}<title>SimpleCrowdRouter</title>{% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basscss.min.css')}}" type="text/css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css"></link>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>
    {% block js %}
    {% endblock js %}
  </head>

  <body style="padding:20px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'success' %}
            <div class="bold center p2 white bg-green rounded"> {{ message }}</div>
          {% else %}
            <div class="bold center p2 mb2 white bg-red rounded"> {{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}
      <h1> Welcome to the SimpleCrowdRouter Example! </h1>
      <h3> Choose a Task to get started, or login below.</h3>

    {% if not user %}
      <form method="POST" action="/login" style="padding:10px; border:2px solid lightgray; border-radius:2px; width:300px;">
        <input type="text" name="username" placeholder="Username..." style="width:250px; margin:5px;"/>
        <input type="password" name="password" placeholder="Password..." style="width:250px; margin:5px;"/>
        <hr/>
        <input class="btn btn-primary mb1 bg-blue" type="submit" value="Login" style="margin:10px;">
      </form>
    {% else %}
      <form method="POST" action="/logout">
        <input class="btn btn-primary mb1 bg" type="submit" value="Logout" style="margin:10px;">
      </form>
    {% endif %}

      <br/>
      <h4>Perform a Single Task</h4>
      <a href="/rank_image"> Rank an Image.</a>
      <a href="/answer_question"> Answer a Question.</a>
      <a href="/pick_tweet_hashtags"> Pick Tweet Hashtags.</a>

      <h4>Perform Multple Tasks</h4>
      <a href="/rank_multiple_images"> Rank Multiple Images.</a>
      <a href="/answer_multiple_questions"> Answer Multiple Questions.</a>
      <a href="/mixed_workflow_1"> Start Mixed workflow.</a>
      <a href="/choice/1"> Start Choicing Workflow. </a>

      <h4>Perform Authenticated Tasks</h4>
      <a href="/auth_rank_image"> Rank an Image.</a>
      <a href="/auth_answer_question"> Answer a Question.</a>
      <a href="/auth_pick_tweet_hashtags"> Pick Tweet Hashtags.</a>

    {% endblock body %}
  </body>
</html>
