<!doctype html>
  <head>
    {% block title %}<title>SimpleCrowdRouter</title>{% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basscss.min.css')}}" type="text/css"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css"></link>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>
    {% block js %}
    {% endblock js %}
  </head>

  <body style="padding:20px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'success' %}
            <div class="bold center p2 white bg-green rounded"> {{ message }}</div>
          {% else %}
            <div class="bold center p2 mb2 white bg-red rounded"> {{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}
      <h1> Welcome to the SimpleCrowdRouter Example! </h1>
      <h3> Choose a Task to get started, or login below.</h3>

    {% if not user %}
      <form method="POST" action="/login" style="padding:10px; border:2px solid lightgray; border-radius:2px; width:300px;">
        <input type="text" name="username" placeholder="Username..." style="width:250px; margin:5px;"/>
        <input type="password" name="password" placeholder="Password..." style="width:250px; margin:5px;"/>
        <hr/>
        <input class="btn btn-primary mb1 bg-blue" type="submit" value="Login" style="margin:10px;">
      </form>
    {% else %}
      <form method="POST" action="/logout">
        <input class="btn btn-primary mb1 bg" type="submit" value="Logout" style="margin:10px;">
      </form>
    {% endif %}

    <a href="/stats" class="btn btn-primary" style="margin:10px;">Check out Crowd Stats</a>

      {% for workflow in workflows %}
        <br/>
        <h4>{{ workflow.name }}</h4>
        <table class="table-light overflow-hidden bg-white rounded" style="margin:10px; width:1000px;">
          <thead class="bg-darken-1">
            <th style="width:200px;">Name</th>
            <th style="width:400px;">Description</th>
            <th>Date</th>
          </thead>
          <tbody>
            {% for task in workflow.task_set %}
              <tr>
                {% if task.task_name == "RankingImageTask" %}
                  <td><a href="/workflow/{{ workflow.id }}/RankingImageTask">{{ task.name }}</a></td>
                {% elif task.task_name == "AnswerQuestionsTask" %}
                  <td><a href="/workflow/{{ workflow.id }}/AnswerQuestionsTask">{{ task.name }}</a></td>
                {% elif task.task_name == "PickTweetHashtagsTask" %}
                  <td><a href="/workflow/{{ workflow.id }}/PickTweetHashtagsTask">{{ task.name }}</a></td>
                {% else %}
                {% endif %}
                  <td>{{ task.description }}</td>
                  <td>{{ task.date_created_at }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    {% endblock body %}
  </body>
</html>
